pdfkit==1.0.0
imgkit==1.2.2
Flask==2.2.2
uWSGI==2.0.21
PyYAML==6.0
beautifulsoup4==4.11.1
requests==2.28.1
boto3==1.26.37
PyPDF2==1.28.6
endesive==2.0.13
pyOpenSSL==22.1.0
cryptography==38.0.4
# Flask doesn't specify the dependency correctly, the new version of Werkzeug 
# isn't compatible with older version of Flask
Werkzeug==2.2.2